body{
    background-color:#86cee0
}
h1{
    color:#000000;
    font-family: 'Lilita One', sans-serif;
}
h2{
    color:#000000;
    font-family: 'Playpen Sans', cursive;
}
h3{
    color:#000000;
    font-family: 'Sriracha', cursive;
}
.content{
    font-family: 'Itim', cursive;
}
.navbox{
    display: flex;
    background-color: #6A8EAE;
    max-width: 100%;
    flex-wrap: wrap;
}
.wknav{ 
    padding: 2.5%;
    width: 100%;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: white;
}

/**link colors**/
a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: #DBDBDB;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #C1A0D1;
    background-color: transparent;
    text-decoration: none;
}