body{
    background-color:#86cee0
}
h1{
    color:#000000;
    font-family: 'Lilita One', sans-serif;
}
h2{
    color:#000000;
    font-family: 'Playpen Sans', cursive;
}
h3{
    color:#000000;
    font-family: 'Sriracha', cursive;
}
p{
    font-family: 'Itim', cursive;
}
li{
    font-family: 'Itim', cursive;
}